@font-face {
    font-family: 'adineue-bold-webfont';
    src: url(fonts/adineue-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-bold-webfont';
    src: url(fonts/yeezy_tstar-bold-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-heavy-webfont';
    src: url(fonts/yeezy_tstar-heavy-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-regular-webfont';
    src: url(fonts/yeezy_tstar-regular-webfont.ttf)  format('truetype');
}
@font-face {
    font-family: 'yeezy_tstar-light-webfont';
    src: url(fonts/yeezy_tstar-light-webfont.ttf)  format('truetype');
}

.ui-btn-active {
	background-color: #000 !important;
}

.ui-bar-a a:visited {
	color: #000 !important;
}

.custom-navbar {
	position: fixed;
	width: 100%;
	display: inline-block;
}

#social a img {
	display: block;
	margin-top: 1.5%;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 1000;
}

#twitt {
	padding: 0 1%;
}

#insta {
	padding: 4% 1% 0;
}

#vid {
	padding: 3% 0;
	margin: 0;
}

.dcc {
	position: absolute;
	z-index: 1000;
	width: 25%;
	margin: 15% 0 0 35%;
}

#cnqr {
	width: 30%;
	margin-top: 16%;
}

.background {
	width: 100%;
	margin: 0 0 7% 12%;
}

.abyzy {
	width: 20%;
	margin: 0 0 2% 41%;
	padding: 0;
}

.png {
	margin: 5% 0 0 35%;
}

#conq {
	margin-top: 7%;
}

.artist {
	float: left;
	width: 16%;
	padding: 2%;
	text-align: center;
	margin-bottom: 5%;
}

#yourOwn {
	width: 50%;
	margin: 2.5% 0 3% 25%;
	text-align: center;
	font-size: 85%;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

.name {
	font-size: 15px;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

.quote {
	font-size: 12px;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

.hometown {
	font-size: 12px;
	font-family: arial, sans-serif;
	font-weight: lighter;
}

.m-text img {
	display: block;
	float: right;
	margin: 7% 0 7% 0;
}

h1 {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	letter-spacing: 3px;
	font-size: 750%;
	padding: 0;
	line-height: 2%;
	font-family: 'yeezy_tstar-heavy-webfont', sans-serif;
}

h4 {
	text-align: center;
	color: #fff;
	opacity: 0.5;
	font-size: 300%;
	margin: 4% 0 0;
	letter-spacing: 3px;
	font-family: 'yeezy_tstar-light-webfont', sans-serif;
}

h2 {
	font-size: 300%;
	color: #fff;
	font-family: 'yeezy_tstar-light-webfont', sans-serif; 
	opacity: 0.5;
}

h6 {
	color: #fff;  
	font-family: 'yeezy_tstar-light-webfont';
	opacity: 0.5;
}

#clock {
	margin-top: 100px;
	text-align: center;
	font-family: 'yeezy_tstar-regular-webfont', sans-serif;
	color: #fff;
	opacity: 0.5;
	font-size: 370%;
	margin-left: -1%;
	line-height: 80%;
}

.ui-footer {
	border-style: none !important;
}

.ui-bar-b {
	background-color: #000 !important;
}

.ui-bar {
	z-index: 999 !important;
	height: 65px;
}

#dreamPNG {
	margin-left: 41.5%;
	width: 15.5%;
	margin-top: 13%;
}

.ui-btn {
	border-style: none !important;
	font-family:'yeezy_tstar-light-webfont', sans-serif !important;
	color: #fff;  
}

.about {
	width: 15.5%;
	font-size: 10px;
	padding: 0;
	margin: 0 0 2% 41.75%;
}

#btm-nav ul {
  padding: 0;
}

#copyright {
	font-size: 12px;
	padding: 1% 0 1% 1%;
	margin-top: 1%;
	display: inline-block;
	position: absolute;
	bottom: 0;
}

.item {
  position: relative;
  overflow: hidden;
  list-style: none;
  float: left;
  width: 33.33%;
  height: 600px;
}

.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ui-focus {
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 box-shadow: none !important;
}

@media screen and (orientation: portrait) {
    .ui-mobile .ui-page {
        min-height: 0 !important;
        max-width: 100%;
    }	

    #clock {
    	margin-top: 400px;
    }	

    #social a img {
	display: block;
	margin-top: 1.5%;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 1000;
	}

	#twitt {
		padding: 0 1%;
	}

	#insta {
		padding: 4% 1% 0;
	}

    #dreamPNG {
		margin-left: 39.5%;
		width: 18.5%;
	}

    .about {
    	margin: 0 0 2% 40%;
    	width: 18%;
    }

    .artist {
    	width: 100%;
    }

    #social a img {
		display: block;
		margin-top: 1.5%;
		position: fixed;
		right: 0;
		top: 40%;
		z-index: 1000;
	}

	#twitt {
		padding: 0 1%;
	}

	#insta {
		padding: 4% 1% 0;
	}
}




